<div class="fluid-container full"  css-g css-g-areas="'h h' 'a m' 'f f'" css-g-cols="25% 1fr" css-g-rows="auto 1fr auto">
 <header css-gi css-gi-area="h">
<nav class="nav">
  <a class="nav-link active" href="#">Active</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</nav> </header>
 <aside css-gi css-gi-area="a">
   Aside
 </aside>
 <main css-gi css-gi-area="m">
   <div class="card" style="width: 18rem;">
  <img src="https://via.placeholder.com/640x360" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>

  <i class="fas fa-home"></i>

    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <!-- <input class="mainLoginInput" type="text" placeholder="&#61442;"/>  -->
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
 </main>
 <footer css-gi css-gi-area="f">
   Footer
 </footer>
</div>